@using RaffleKing.Services.BLL.Interfaces
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IUserService UserService

<MudThemeProvider @bind-IsDarkMode="@_isDarkModeActive" Theme="DefaultTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page mud-layout">
    <MudLayout>
        @* Top Nav *@
        <MudAppBar Elevation="0">
            @if (!_isAccountPage)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start"
                               OnClick="@(_ => ToggleDrawer())"/>
            }
            <MudText Typo="Typo.h6" Color="Color.Primary">RAFFLE KING</MudText>
            <MudSpacer/>
            @if (_isAccountPage)
            {
                <MudButton Href="/" StartIcon="@Icons.Material.Filled.ArrowBack">Return to Dashboard</MudButton>
            }
            else
            {
                <div class="d-flex">
                    <AuthorizeView>
                        <Authorized>
                            <MudButton OnClick="@ToggleAccountPopover" StartIcon="@Icons.Material.Filled.AccountCircle">
                                Hi, @_username!
                            </MudButton>
                        </Authorized>
                        <NotAuthorized>
                            <MudButton OnClick="@ToggleAccountPopover" StartIcon="@Icons.Material.Filled.AccountCircle">
                                Account
                            </MudButton>
                        </NotAuthorized>
                    </AuthorizeView>
                    <MudPopover Paper="true" Open="@_isAccountPopoverOpen" AnchorOrigin="Origin.BottomCenter"
                                TransformOrigin="Origin.TopCenter">
                        <AccountPopover/>
                    </MudPopover>
                </div>
            }
            <MudDivider Vertical="true" Class="my-4 ml-2" FlexItem="true"></MudDivider>
            @if (!_isAccountPage)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Notifications"/>
                <MudToggleIconButton @bind-Toggled="@_isDarkModeActive" Icon="@Icons.Material.Filled.LightMode"
                                     ToggledIcon="@Icons.Material.Filled.DarkMode"></MudToggleIconButton>
            }
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/ShaunLen/raffle-king/"/>
        </MudAppBar>

        @if (!_isAccountPage)
        {
            @* Left Nav *@
            <MudDrawer @bind-Open="_isDrawerOpen" ClipMode="DrawerClipMode.Docked" Fixed="true"
                       Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" @onmouseleave="@CloseDrawer">
                <LeftNav @ref="_leftNav" IsDrawerClosed="!_isDrawerOpen"/>
            </MudDrawer>
        }

        @* Page Content *@
        <MudMainContent>
            <MudContainer Class="mt-8">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload"></a>
    <a class="dismiss">🗙</a>
</div>
